@page "/addMaterialreceived/{value}"
@inject IMaterialReceivedService materialReceivedService
@inject IMaterialService materialService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h2>Add Material Received</h2>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <RadzenLabel Text="Material Name" Component="@materialReceived.Name" />
                <RadzenTextBox @bind-Value="materialReceived.Name" Style="width:100%; display: block" Name="Name" />
                <RadzenLabel Text="Type" Component="@materialReceived.Type" />
                <RadzenTextBox @bind-Value="materialReceived.Type" Style="width:100%; display: block" Name="Type" />
                <RadzenLabel Text="King Lot" Component="@materialReceived.KingLot" />
                <RadzenTextBox @bind-Value="materialReceived.KingLot" Style="width:100%; display: block" Name="KingLot" ReadOnly="true" />
                <RadzenLabel Text="Vendor Lot" Component="@materialReceived.VendorLot" />
                <RadzenTextBox @bind-Value="materialReceived.VendorLot" Style="width:100%; display: block" Name="VendorLot" Change=@OnChange />
                <RadzenLabel Text="Quantity" />
                <RadzenNumeric TValue="Int32" ShowUpDown="false" @bind-Value="materialReceived.Quantity" Style="width:100%; display: block" Name="Quantity" />
                <RadzenLabel Text="Notes 2" Component="@materialReceived.Notes" />
                <RadzenTextBox @bind-Value="materialReceived.Notes" Style="width:100%; display: block" Name="Notes" />
            </div>
            <br />
            <div class="form-group">
                <RadzenButton Click="@CreateMaterialReceived" Text="Save" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                <RadzenButton Click="@cancel" Text="Cancel" Icon="add_circle_outline" ButtonStyle="Radzen.ButtonStyle.Warning"></RadzenButton>
            </div>
        </form>
    </div>
</div>

@code {
    MaterialReceived materialReceived = new MaterialReceived();

    [Parameter]
    public string value { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    protected override async Task OnInitializedAsync()
    {
        Material _material = new Material();
        var _materialID = value;

        _material = await materialService.GetById(Int16.Parse(_materialID));

        materialReceived.Name = _material.Name;
        materialReceived.Type = _material.Type;
    }

    protected async Task CreateMaterialReceived()
    {
        await materialReceivedService.Create(materialReceived);
        navigationManager.NavigateTo("MaterialsReceived");
    }

    void cancel()
    {
        navigationManager.NavigateTo("/Materials");
    }

    void OnChange(string value)
    {
        materialReceived.KingLot = value;
    }
}